<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Builder</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <style>
            
            nav{
                background-color:#5f5ec2;
            }
            #console{
                display:flex;
                
                height:80vh;
                width:80vw;
            }
            #field{
                background-image:url(images/field.png);
                background-size:contain;
                background-repeat:no-repeat;
                height:100%;
                width:50%;
                margin-top:10vh;

            }
            #team{
                height:100%;
                color:black;
            }
            
           
        </style>
        <nav>
            <div class="nav-wrapper">
                <div class="brand-logo center">
                    <b>Squad Builder</b>
                </div>  
                <ul id="nav-mobile" class="right">
                    <li><button style="background-color:#28b97d" class="btn modal-trigger" data-target="modal-1"> Save </button>
                    <li><a href="/logout" style="background-color:#e12828"class="btn"> Log out </a></li>
                </ul>
            </div>
        </nav>
        
        <div id="console">
            <div id="field">
                <canvas height="450" width="350" id="pieces"></canvas>
            </div>
            <div id="team">
                <h1>Team</h1>
                <button onclick="addRed()" class="btn-large">Add Red Player</button>
                <button onclick="addBlue()" class="btn-large">Add Blue Player</button>
            </div>
        </div>

        <div id="modal-1" class="modal">
            <div class="modal-content"> 
                <div style="display:flex">
                    <h4> Team: </h4>
                    <button style="position:absolute; right:0; top:0; background-color:red" class="btn-small material-icons modal-close">close</button>
                </div>
                <input id="name" placeholder="Enter name...">  </input>
                <input id="description" placeholder="Enter Description...">  </input>
                <a onclick="save()" style="background-color:#28b97d" class="btn"> Save </a>

            </div>
        </div>

        <div id="team-id" th:text="${team.id}" style="display:none"> </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            const team = document.getElementById("team-id").textContent;
            var pieces = [];
            const test = document.getElementById("test");
            
            
            const canvas = document.getElementById("pieces");
            const ctx = canvas.getContext("2d");
            let draggingPiece = null;
            
            loadPieces();

            function drawFootball(){
                drawPiece(125, 200, 5, "white", "black")
                pieces.push({x:125, y:200, size:5, color:"white", outline:"black"});
            }

            function addRed(){
                drawPiece(50, 100, 10, "red", "white");
                pieces.push({x:50,y:100,size:10, color:"red", outline:"white"});
            }
            function addBlue(){
                drawPiece(50, 370, 10, "blue", "white");
                pieces.push({x:50,y:370,size:10, color:"blue", outline:"white"});

            }

            function drawPiece(x, y, size, colour, outline){
                ctx.beginPath();
                ctx.arc(x, y, size, 0, 2 * Math.PI);
                ctx.fillStyle = colour;
                ctx.fill();
                ctx.lineWidth = 2;
                ctx.strokeStyle = outline;
                ctx.stroke();
            }

            function drawAllPieces() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                pieces.forEach(piece => drawPiece(piece.x, piece.y, piece.size, piece.color, piece.outline));
            }

            canvas.addEventListener("mousedown", e => {
                const {mouseX, mouseY} = getMousePos(e);
                draggingPiece = pieces.find(piece => {
                    const dx = mouseX - piece.x;
                    const dy = mouseY - piece.y;
                    return Math.sqrt(dx*dx + dy*dy) <= piece.size;
                });
            });

            canvas.addEventListener("mousemove", e => {
                if(draggingPiece){
                    const {mouseX, mouseY} = getMousePos(e);
                    draggingPiece.x = mouseX;
                    draggingPiece.y = mouseY;
                    drawAllPieces();
                }
            });

            canvas.addEventListener("mouseup", () => {
                draggingPiece = null;
            });
            
            function getMousePos(e) {
                const rect = canvas.getBoundingClientRect();
                return {
                    mouseX: e.clientX - rect.left,
                    mouseY: e.clientY - rect.top
                };
            }

            function save() {
                const name = document.getElementById("name").value;
                const description = document.getElementById("description").value;
                const details = {
                    "name" : name,
                    "description" : description, 
                };
                const data = {
                    pieces : pieces,
                    details : details
                };
                if(team == ""){
                    fetch(`/saveNew`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),

                    })
                    .then(response => {
                        return response.text();
                    })
                    .then(loc => {
                        window.location.href = `/${loc}`;
                    })
                    .catch(error => console.error("Error:", error));
                }
                else{
                    fetch(`/save?id=${team}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),

                    })
                    .then(response => {
                        return response.text();
                    })
                    .then(loc => {
                        window.location.href = `/${loc}`;
                    })
                    .catch(error => console.error("Error:", error));
                }
            }

            function loadPieces(){
                if(team == ""){
                    drawFootball();
                }
                else{

                    fetch(`teamPieces?id=${team}`, {
                        method: 'GET',
                    })
                    .then( response => {
                        if(response.ok){
                            return response.json();
                        }
                    })
                    .then( data => {
                        data.forEach(piece => {
                            pieces.push({x:piece.x, y:piece.y, size:piece.size, color:piece.color, outline:piece.outline});
                            drawAllPieces();
                        });
                    })
                    .catch( error => {
                        console.log("Error catching pieces: ", error);
                    });
                }
            }
        </script>

        <script>
            M.AutoInit();
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems, options);
            });
        </script>

        
    </body>
</html>