<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <style>
        .container{
            display:flex;
            justify-content:center;
        }
        
    </style>

    <div class="container">
        <div class="sub-container">
            <h1>An error occured</h1>
            <a href="/">
                <button style="margin-left:40%;" class="btn-large">Home</button>
            </a>
        </div>
    </div>
   
   
</body>